.container{
      display:grid;

      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid rgb(143, 67, 67);

  }
  .box{
    border: 1px solid rgb(143, 67, 67);
    background: #b0aef3;
    }

  .header{
    grid-area:hd;
    background-image: url('headphoto.jpg');
    background-size: stretch;
    background-repeat: no repeat;
  }
 
  .footer{
    grid-area: ft;  
  }
  .sidebar{
    grid-area: sd;
  }
  .content{
    grid-column-start: 2;
    grid-column-end: main;
  }

  p {
    font-weight: bold;
  }

  h1{
    font-family: 'Courier New', Courier, monospace;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
  }

